# Hacking already pins down pep8, pyflakes and flake8
hacking>=0.8.0,<0.9
# Unit testing
discover
fixtures>=0.3.14
mock>=1.0
python-subunit>=0.0.18
testrepository>=0.0.18
testtools>=0.9.34
# Test runner
nose
nose-exclude
openstack.nose_plugin>=0.7
# Metrics and style
coverage>=3.6
